body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
}

#navbar {
  display: flex;
  justify-content: center;
  padding: 1vw;
  background-color: transparent;
}

.navbar-menu {
  color: white;
  text-decoration: none;
  margin: 4vh;
}

.navbar-menu.selected {
  color: #b194d7;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 20px;
  right: 20px;
}
.close-menu {
  top: 20px;
  right: 20px;
}

/* Main container */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Upper left (1st column) */
.home-upper-left {
  background-color: black;
  width: 45%;
  height: 35vh;
  margin: 1vw;
  border-radius: 15px;
}

.news-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Upper right (2nd column) */
.home-upper-right {
  background-color: #5e17eb;
  width: 45%;
  height: 35vh;
  margin: 1vw;
  border-radius: 15px;
}

.to-do-list-font {
  font-style: italic;
  margin: 1vw;
}

/* Curhat Kana (3rd column) */
.home-lower-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  height: 35vh;
  margin: 1vw;
  gap: 10px;
}

a {
    display: flex;
    text-decoration: none;
}

.curhat-kana-display {
    background-image: linear-gradient(black, #9f58ed 80%);
    width: 100%;
    height: 100%;
    /* padding: 0; */
    border-radius: 15px;
}

.to-do-list-font {
    font-style: italic;
    margin: 1vw;
}

.nyatet-dong-font {
    font-style: italic;
    margin: 1vw;
    color: black;
}

.todo-form {
    display: flex;
    width: 100%;
    margin: 0;
    float: right;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
}

.add-btn {
    background-color: #3a05a4;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    border-color: transparent;
    border-radius: 25px;
    width: 90px;
    height: 3vw;
    margin-right: 1vw;
    /* margin-top: auto;
    margin-bottom: auto; */
    cursor: pointer;
    /* height: 35px; */
}

.news-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.curhat-kana-daftar-dong-font {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin: 1vw;
}

/* Ayat (4th column) */
.home-lower {
  background-color: white;
  width: 45%;
  height: 35vh; 
  /* height: 45%; */
  position: relative;
  margin: 1vw;
  border-radius: 15px;
  /* padding: 1vw; */
}

.add-new-nyatet-dong {
    position: absolute;
    color: black;
    margin-left: 35vw;
    font-size: larger;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

.ayat {
    position: absolute;
    display:inline;
    margin: 1.5vh;
    color: #5e17eb;
    font-size:larger;
    text-align: justify;
}

.nama-ayat {
    position: absolute;
    display:inline;
    margin-top: 20vh;
    margin-left: 1.5vh;
    color: black;
    font-size:xx-large;
}

.view-list-nyatet-dong {
    position: absolute;
    color: black;
    margin-left: 25vw;
    font-size:larger;
    text-align: right;
    font-style: italic;
}

.add-new-to-do-list {
    position: absolute;
    color: white;
    background-color: transparent;
    border-style: none;
    margin-left: 35vw;
    font-size: larger;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

#check {
  display: none;
}

@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
    background-color: black;
  }
  #navbar li {
    margin-top: 40px;
  }
  #navbar li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ #navbar {
    right: 0; /* Show the navbar when checked */
  }

  .home-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .home-upper-left,
  .home-upper-right,
  .home-lower,
  .home-lower-p {
    width: 90%;
    height: auto;
    margin: 1vw 0;
    /* padding-bottom: 1vw; */
  }

  .home-upper-right,
  .home-lower {
    height: 30vh;
  }

  .curhat-kana-display {
    width: 100%;
    height: 15vh;
    margin: 1vw 0;
  }

  .curhat-kana-daftar-dong-font {
    font-size: large;
  }

  .add-new-nyatet-dong,
  .view-list-nyatet-dong,
  .add-new-to-do-list,
  .view-list-to-do-list {
    font-size: medium;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1180px) {
  .home-upper-left,
  .home-upper-right,
  .home-lower,
  .home-lower-p {
    width: 40%;
    height: 30vh;
    margin: 1vw;
  }

  /* .ayat {
    display:inline;
    margin: 1vh;
    color: #5e17eb;
    font-size:small;
    text-align: justify;
  }

  .nama-ayat {
    position: absolute;
    display:inline;
    margin-top: 20vh;
    margin-left: 1.5vh;
    color: black;
    font-size:medium;
} */

  .curhat-kana-display {
    width: 30%;
    height: 30vh;
  }

  .news-img,
  .curhat-kana-display img {
    width: 100%;
    height: auto;
  }

  .curhat-kana-daftar-dong-font {
    font-size: large;
  }

  .home-upper-right,
  .home-lower {
    height: 30vh;
  }

  .add-new-nyatet-dong,
  .view-list-nyatet-dong,
  .add-new-to-do-list,
  .view-list-to-do-list {
    font-size: medium;
  }
}
