    /* /* body {
        background-color: black;
        background-repeat: no-repeat;
        font-family: "Montserrat", sans-serif;
        color: white;
        overflow-x:hidden;
        overflow-y:hidden;
    } */
    
head {
    font-family: "Montserrat", sans-serif;
    color: black;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    color: white;
    overflow-x:hidden;
    overflow-y:hidden;
}

#navbar {
    display: flex;
    justify-content: center;
    margin: 0.5vw;
    background-color: transparent;
}

.navbar-menu {
    color: white;
    text-decoration: none;
    margin: 4vh;
    text-align: center;
}

.navbar-menu:hover {
    color: #b194d7;
}

.navbar-menu.selected {
    color: #b194d7;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: transparent;
    /* padding-bottom: 5%; */
    width: 100%;
    height: 87%;
    
}

.home-upper-left {
    /* justify-content: left; */
    background-color: black;
    width: 45%;
    height: 45%;
    margin: 1vw;
    border-radius: 15px;
}

.home-upper-right {
    /* justify-content: left; */
    background-color: #5e17eb;
    width: 45%;
    height: 45%;
    margin: 1vw;
    border-radius: 15px;
}

.home-lower {
    background-color: white;
    width: 45%;
    height: 45%;
    margin: 1vw;
    border-radius: 15px;
    position: relative;
}

.home-lower-p {
    display: flex;
    /* background-color: pink; */
    width: 45%;
    height: 45%;
    margin: 1vw;
    gap: 20px;
}

a {
    display: flex;
    text-decoration: none;
}

.curhat-kana-display {
    background-image: linear-gradient(black, #9f58ed 80%);
    width: 100%;
    height: 100%;
    /* padding: 0; */
    border-radius: 15px;
}

.to-do-list-font {
    font-style: italic;
    margin: 1vw;
}

.nyatet-dong-font {
    font-style: italic;
    margin: 1vw;
    color: black;
}

.todo-form {
    display: flex;
    width: 100%;
    margin: 0;
    float: right;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 1vw;
    background-color: white;
}

.add-btn {
    background-color: #3a05a4;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    border-color: transparent;
    border-radius: 25px;
    width: 90px;
    height: 3vw;
    margin-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-bottom: 1vw; */
    cursor: pointer;
    /* height: 35px; */
}

.news-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.curhat-kana-daftar-dong-font {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 1vw;
}

.shadow-display {
    height: 65%;
    width: 100%;
    border-radius: 15px;
}

.bubble-chat-display {
    margin-top: 2vh;
    margin-left: -1.5vw;
    z-index: 10;
}

.kana-img-display {
    opacity: 15%;
}

.daftar-img-display {
    display: block;
    opacity: 15%;
}

.add-new-nyatet-dong {
    position: absolute;
    color: black;
    margin-left: 35vw;
    font-size: larger;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

.ayat {
    position: absolute;
    display:inline;
    margin: 1.5vh;
    color: #5e17eb;
    font-size:larger;
    text-align: justify;
}

.nama-ayat {
    position: absolute;
    display:inline;
    margin-top: 20vh;
    margin-left: 1.5vh;
    color: black;
    font-size:xx-large;
}

.view-list-nyatet-dong {
    position: absolute;
    color: black;
    margin-left: 25vw;
    font-size:larger;
    text-align: right;
    font-style: italic;
}

.add-new-to-do-list {
    position: absolute;
    color: white;
    background-color: transparent;
    border-style: none;
    margin-left: 35vw;
    font-size: larger;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

.view-list-to-do-list{
    position: absolute;
    color: white;
    margin-left: 25vw;
    font-size:larger;
    text-align: right;
    font-style: italic;
}

li {
    list-style-type: none;
}

@media only screen and (max-width: 1440px) {

    
}

    /* #navbar {
        overflow: hidden;
        text-align: center;
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    
    .navbar {
        display: block;
        padding: 8px;
        background-color: transparent;
        color: white;
        text-decoration: none;
        text-align: center;
        position: relative;
        margin: 0.75%;
        margin-right: 50px;
        font-size: 14px;
        border-color: none;
    }

    .navbar:hover {
        color: #b194d7;
    }

    .navbar.selected {
        color: #b194d7;
    }
    
    #navbar .ui-selected { background: none; color: #b194d7; }

    .tab-content {
        background-color: transparent;
        border-top: none;
    } */

    /* #home {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    } */

    /* .display-shalom {
        margin-top: 0px;
        position: absolute;
        font-size: 35px;
        text-align: left;
        font-style: italic;
    }

    .display-name {
        color: #b194d7;
        margin-left: 160px;
        font-size: 36px;
        position:absolute;
        font-weight: bold;
    }

    .home-center {
        width: 95%;
        height: 85%;
        margin: auto;
        margin-top: 25px;
        /* margin-left: 30px;
        margin-right: 30px; */
        /* margin-bottom: 30px;
        background-color: pink;
        display: flex;
    }

    .news-display {
        display: flex;
        width: 50%;
        height: 35%;
        margin-top: 60px;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: transparent;
        border-radius: 15px;
    }

    .news-img {
        position: flex;
        border-radius: 15px;
        /* margin-top: -60px; 
        width: 100%;
        height: 100%;
    }

    .curhat-dong-display {
        display: flex;
        width: 15%;
        height: 36.7%;
        margin-top: 360px;
        background-color: black;
        border-radius: 15px;
        cursor: pointer;
    }

    .curhat-dong-display:hover {
        background-color: #b194d7;
    }

    .curhat-kana-daftar-dong-font {
        display: flex;
        margin-top: 20px;
        margin-left: 15px;
        text-align: left;
        font-size: xx-large;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    .bubble-chat-display {
        display: flex;
        margin-left: -80px;
        margin-top: 90px;
        z-index: 10;
    }

    .kana-dong-display{
        display: flex;
        width: 16%;
        height: 36.7%;
        margin-top: 360px;
        margin-left: 236px;
        background-color: black;
        border-radius: 15px;
        cursor: pointer;
    }

    .kana-dong-display:hover {
        background-color: #b194d7;
    }

    .kana-img-display {
        display: flex;
        margin-left: 1px;
        margin-top: 75px;
        opacity: 15%;
    }

    .daftar-dong-display {
        display: flex;
        width: 15%;
        height: 36.7%;
        margin-top: 360px;
        margin-left: 487px;
        background-color: black;
        border-radius: 15px;
        cursor: pointer;

    }

    .daftar-dong-display:hover {
        background-color: #b194d7;
    }

    .daftar-img-display {
        display: flex;
        opacity: 15%;
        margin-top: 115px;
        margin-left: 25px;
        margin-right: auto;
    }

    .shadow-display {
        margin-top: 15px;
        border-radius: 15px;
        height: 270px;
    }

    .to-do-list-display {
        display: flex;
        width: 41.8%;
        height: 35%;
        margin-top: 60px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 725px;
        background-color: #5e17eb;
        border-radius: 15px;
    }

    .to-do-list-img-display {
        display: flex;
        z-index: 20;
    }

    .to-do-list-font {
        display: flex;
        font-style: italic;
        margin-left: 15px;
        z-index: 20;
    }

    .view-list-font {
        display: flex;
        margin-top: 230px;
        margin-left: 320px;
        z-index: 20;
        color: white;
        font-size: large;
        font-style: italic;
        text-decoration: none;
    }

    .add-new-font {
        display: flex;
        margin-top: 230px;
        margin-left: 470px;
        z-index: 20;
        color: white;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
    }

    .view-list-font-nyatet-dong {
        display: flex;
        margin-top: 245px;
        margin-left: 320px;
        z-index: 50;
        color: black;
        font-size: large;
        font-style: italic;
        text-decoration: none;
    }

    .add-new-font-nyatet-dong {
        display: flex;
        margin-top: 245px;
        margin-left: 470px;
        z-index: 100;
        color: black;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
    }

    /* .nyatet-dong-display {
        display: flex;
        width: 41.8%;
        height: 36.7%;
        margin-top: 360px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 725px;
        background-color: white;
        border-radius: 15px;
    }

    .nyatet-dong-img-display {
        display: flex;
    }

    .nyatet-dong-font {
        display: flex;
        font-style: italic;
        color: black;
        margin-left: 15px;
        z-index: 30;
    }  */

    /* @media only screen and (min-width: ) */